In [200]:
import json
import pandas as pd
import openpyxl

# Read the json file    
path = ['data/wolt_tweet.json','data/food_tweets_all.json']
      
data = []
for i in path:
    with open(i, 'r') as f:
        for line in f:
            obj = json.loads(line)
            data.append(obj)

In [184]:
  #,'data/food_tweets_all.json',
        #'data/dataset_04_08.json']
        
        #    ,'data/dataset_04_08_props.json',
        #'data/03_20_2023_to_03_22_2023_food.json','data/03_22_2023_to_03_23_2023_hash_food_en.json',
     #   'data/03_22_2023_to_03_24_2023_hash_food_en.json','data/03_22_2023_to_03_24_2023_hash_foodie_en.json',
      #  'data/03_22_2023_to_03_24_2023_lunch_en.json','data/03_22_2023_to_03_24_2023_recipe_foodie_en.json',
       # 'data/03_23_2023_to_03_24_2023_hash_food_en.json','data/03_24_2023_to_03_26_2023_hash_food_en.json',
        #'data/03_26_2023_to_03_28_2023_hash_all_food_en.json','data/04_01_2023_to_04_03_2023_hash_food_all_en.json']'''

In [201]:
tweet = []
for i in range(0, len(data)): # run through 33 datasets
    for j in range(0, len(data[i]["data"])): # each data has 100 data points
        text = data[i]["data"][j]
        tweet.append(text)
print(f"The tweet is:",tweet[0]["text"])
print(f"Public metrics of the tweet:",tweet[0]["public_metrics"])
print(len(tweet))

The tweet is: @mikapleskinen @pizzahut Hi Mika!

My apologies for the delivery damage ðŸ¥º

You can contact us via customer service chat or support@wolt.com if you wish us to take a closer look at the situation.

Hopefully everything goes a bit smoother the next time!

Have a lovely evening! ðŸ’™
Public metrics of the tweet: {'retweet_count': 0, 'reply_count': 0, 'like_count': 0, 'quote_count': 0, 'impression_count': 31}
74759

In [202]:
wolt_df = []
for i in range(0,len(tweet)):
    text = tweet[i]["text"]
    wolt_df.append(text)

wolt_df = pd.DataFrame(wolt_df, columns = ['content'])

for i in range(0,len(wolt_df)):
    wolt_df.loc[i,'language'] = tweet[i]["lang"]
    metrics = tweet[i]["public_metrics"]
    wolt_df.loc[i,'retweet_count'] = metrics["retweet_count"]
    wolt_df.loc[i,'reply_count'] = metrics["reply_count"]
    wolt_df.loc[i,'like_count'] = metrics["like_count"]
    wolt_df.loc[i,'quote_count'] = metrics["quote_count"]
    wolt_df.loc[i,'impression_count'] = metrics["impression_count"]
    # Calculate engagement rate
    try: 
        wolt_df.loc[i,'engagement_rate'] = (metrics["retweet_count"] + metrics["reply_count"] + metrics["like_count"] + metrics["quote_count"])/metrics["impression_count"]
    except ZeroDivisionError:
        wolt_df.loc[i,'engagement_rate'] = 0
wolt_df.drop_duplicates(subset ="content", keep = 'first', inplace = True)  
print(wolt_df.shape)
wolt_df.head()

(37214, 8)

,content,language,retweet_count,reply_count,like_count,quote_count,impression_count,engagement_rate
0,@mikapleskinen @pizzahut Hi Mika!\n\nMy apolog...,en,0.0,0.0,0.0,0.0,31.0,0.000000
1,@Samikohanse @Samikohanse Moikka Sami! IkÃ¤vÃ¤ k...,fi,0.0,1.0,1.0,0.0,15.0,0.133333
2,@Saralye @Saralye Hello there! Thanks for cont...,en,0.0,0.0,0.0,0.0,10.0,0.000000
3,@markuslindqv @markuslindqv Moi Markus! Kiitos...,fi,0.0,0.0,0.0,0.0,21.0,0.000000
4,@fldu_ Hi Florian! \nHuge apologies that your ...,en,0.0,0.0,0.0,0.0,25.0,0.000000

In [203]:

#wolt_df.to_csv('data/training_data.csv', index=False)
wolt_df.to_excel('data/training_data.xlsx', index=False)